body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light gray background */
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #0056b3; /* Duller blue for header and footer */
    color: white;
    padding: 15px 0;
    text-align: center;
}

nav {
    background-color: #e7f1ff;
    padding: 10px 0;
    justify-content: center;
    display: flex;
}

nav a {
    color: #0056b3;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color:  #ffcc00;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 20px;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px); /* Adjust height to account for header and footer */
}

.content-area {
    width: 80%; /* Width of the content area */
    padding: 20px;
    background-color: white; /* White background for the content area */
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.error {
    color: red;
    text-align: center;
}

.success {
    color: green;
    text-align: center;
}